
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #c5e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

h1 {
  color: #7f9c9f;
  letter-spacing: 5px;
  text-align: center;
}

.calculator {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* Left Section */
.input-section {
  width: 50%;
}

.input-section label {
  display: block;
  margin-bottom: 10px;
  color: #5e7a7d;
  font-weight: bold;
}

.input-section input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #dfe7ec;
  border-radius: 8px;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tip-btn {
  background-color: #00474b;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.tip-btn:hover {
  background-color: #26c2ae;
}

#custom-tip {
  grid-column: span 3;
}

/* Right Section */
.result-section {
  width: 40%;
  background-color: #00474b;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result p {
  color: #7f9c9f;
}

.result h2 {
  color: #26c2ae;
  font-size: 30px;
  margin-top: 10px;
}

button#reset {
  background-color: #26c2ae;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.error-msg {
  color: red;
  display: none;
}

.error-msg.active {
  display: block;
}

/* Media Queries for Responsiveness */

/* For Tablets */
@media (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }

  .input-section,
  .result-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .result-section {
    padding: 20px;
  }

  .tip-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Mobile Devices */
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .calculator {
    flex-direction: column;
  }

  .input-section {
    width: 100%;
  }

  .input-section input {
    font-size: 16px;
    padding: 8px;
  }

  .tip-buttons {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .tip-btn {
    font-size: 16px;
    padding: 12px;
    width: 100%;
  }

  #custom-tip {
    grid-column: span 1;
  }

  .result-section {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .result h2 {
    font-size: 24px;
  }

  button#reset {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }
}
